pydantic
tenacity
pyyaml
loguru
numpy
datasets
fastapi
httpx
html2text
gymnasium
pillow
browsergym
uvicorn
unidiff
browser-use
googlesearch-python
baidusearch
duckduckgo_search
aiofiles
pydantic_core
colorama
playwright